{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

    <h1>Welcome!</h1>

    <p>Congratulations! You have successfully installed a new Symfony application.</p>

    <div class="symfony-blocks-welcome">
        <div class="block-quick-tour">
            <a class="symfony-button-green" href="{{ path('fos_user_registration_register') }}">Register a new user</a>
        </div>
        {% if not app.user %}
            <div class="block-demo">
                <a class="symfony-button-green" href="{{ path('fos_user_security_login') }}">Login with an existing user</a>
            </div>
        {% else %}

            <div class="block-demo">
                <a class="symfony-button-green" href="{{ path('_new_app') }}">Create a new app</a>
            </div>

            <div class="block-demo">
                <a class="symfony-button-green" target="_blank" href="http://oauth.client">Launch client app</a>
            </div>

        {% endif %}

        {% if app.user %}

            <div class="clients" style="clear:both; width: 100%; margin-top: 20px;">

                <h2>Apps created by you:</h2>
                    {% for client in app.user.clients %}
                       	<div>name: {{ client.name }}</div>
                       	<div>auth token: {{ client.publicId }}</div>
                       	<div>auth secret: {{ client.secret }}</div>
                    {% else %}
                    {% endfor %}

            </div>

            <div class="clients" style="clear:both; width: 100%; margin-top: 20px;">

                <h2>Apps authorized by you:</h2>
                    {% for authcode in app.user.authorizedApps %}
                       	<div>name: {{ authcode.client.name }}</div>
                    {% else %}
                    {% endfor %}

            </div>

        {% endif %}
    </div>

{% endblock %}
